---
import Layout from "@layouts/Layout.astro"
---
<Layout title="Sobre mim | gabrielmota_" description="Uma descrição sobre quem é Gabriel.">
  <section>
    <h1>
      Sobre mim
    </h1>
  </section>
  <section>
          <h2>Olá 👋</h2>

    <img src="/images/gabriel.webp" alt="Minha foto de perfil">

    <p>Eu sou Gabriel e desenvolvo software profissionalmente desde 2020.</p>
    <p>Me formei inicialmente em Química, pela USP, mas descobri que minha paixão era pela programação e decidi fazer uma segunda graduação, sendo essa em Tecnologia da Informação, pela UNIVESP.</p>
    <p>Moro e trabalho na região metropolitana de São Paulo.</p>
    <h3>Tecnologias</h3>
    <p>Afinal esse é um blog com ênfase em tecnologia. Meus principais interesses são em:</p>
    <ul><li>Python</li><li>Go</li><li>Javascript</li>
    <li>Engenharia de software</li><li>Web dev em geral</li></ul>
    <p>Apesar das minhas preferências já tive contato com outras tecnologias, como Java ou PHP. No meu dia a dia também trabalho com um leque de ferramentas tais como Docker, Jenkins, Git, entre outras.</p>
    <h3>Interesses</h3>
    <p>Descubra um lado mais pessoal!</p>
    <p>Meu gêneros literários favoritos são fantasia e ficção científica. Tais como:</p>
    <ul><li>Fundação - Isaac Asimov</li><li>A Crônica do Matador do Rei - Patrick Rothfuss</li><li>Mistborn - Brandon Sanderson</li></ul>
    <p>Meus jogos favoritos costumam ser RPGs. Tais como:</p>
    <ul><li>Mass Effect (1, 2, 3)</li><li>Fallout (3, New Vegas)</li><li>The Elder Scrolls V: Skyrim</ul>
    <h3>Contato</h3>
    <p>Quer falar comigo? Você pode entrar em contato através do meu <a href="https://www.linkedin.com/in/gabriel-da-mota/">Linkedin</a>.</p>
  </section>
</Layout>

<style>
  img {
    width: auto;
    max-width: 50%;
    float: right;
    margin: 1em 0 .5em .5em;
  }
</style>
