---
const today = new Date();
---
<div>
  &copy; {today.getFullYear()} <a href="https://github.com/gabrielmotaa">gabrielmota<span>_</span></a>
</div>

<style>
  div {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-mono);
  }

  span {
    color: var(--color-primary);
  }
</style>